.react-pdf__Page {
  margin-top: 25px;
}
.react-pdf__Page__textContent {
  border: 2px solid black;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 0px;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 0%;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

/* For all pages */
.all-page-container {
  height: 100%;
  width: 100%;
  max-height: 500px;
  overflow: auto;
}
